<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>FRAME.JST</title>
	<link href="/build/style.css" rel="stylesheet">
</head>
<body>
	<noscript>
		<h6 style="text-align: center">NO SCRIPT</h6>
		<style>
			body {
				background-color: #eeeeee;
			}
		</style>
	</noscript>
	{{=it.html}}
	<script src="/build/router.js"></script>
</body>
</html>