<div>
	<h1>Header</h1>
	<a href="/">Home</a>
	<a href="/about.html">About</a>
	<a href="/contact.html">Contact</a>
	<br>
	<a href="/lang-ru">Рус</a>
	<a href="/lang-ua">Укр</a>
	<a href="/lang-en">Eng</a>
</div>